* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #1d094e;
    color: #e7ecee;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 1rem;
  }
  
  nav a {
    color: #1518c0;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  body {background-color: rgb(31, 146, 154);}

  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
  }
  
  .product {
    border: 1px solid #379926;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30%;
  }
  
  .product img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
  
  